// ==========================================================================
// #Color
// ==========================================================================


// Named
// ==========================================================================
	$burning-orange: #FF7940;


// Specifics
// =============================================================================
	$color-brand: $burning-orange;



// Base
// =============================================================================
	
	$color-global-text: #222;
	$color-global-background: #f1f1f1;

	$color-link: white;
	$color-link-hover: darken($color-link, 25%);