// ==========================================================================
// #Settings
// ==========================================================================



// #Settings: Global Settings
// ==========================================================================

	$global-font-family:			$base-font-family;
	$global-font-size:				$base-font-size;
	$global-line-height:			$base-line-height;
	$global-text-color:				$color-global-text;
	$global-background-color:		$color-global-background;
	$global-body-antialiased:		true;

	$global-color-link:				$color-link;
	$global-color-link-hover:		$color-link-hover;